@font-face {
    font-family: HarmonyOS_Medium;
    src: url("../fonts/HarmonyOS_Sans_Medium.ttf");
}

@font-face {
    font-family: Emoji;
    src: local("Apple Color Emojiji"), local("Segoe UI Emoji"), local("Segoe UI Symbol"), local("Noto Color Emoji");
    unicode-range: U+1F000-1F644, U+203C-3299;
}

body {
    font-family: system-ui, —apple-system, Segoe UI, Rototo, Emoji, Helvetica, Arial, sans-serif;
}

html,
body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

#box {
    height: 100%;
    display: flex;
    display: -webkit-flex;
}

.chatList {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 30vw;
    max-width: 400px;
    border-right-style: solid;
    border-right-color: #cccccc;
    border-right-width: 1px;
}

.chatList-item {
    display: flex;  
    padding: 5px;
    cursor: pointer;
}

.chatList-console {
    cursor: default; 
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 2.5em;
}

.chatList-item p {
    margin: 0;
    width: 20vw;
    white-space: nowrap;
    max-width: 300px;
    /*显示的行数*/
    overflow: hidden;
    /*溢出部分隐藏*/
    text-overflow: ellipsis;
}

.chatList-title {
    line-height: 1.5em;
    margin: 0;
}

.chatList-content {
    color: #A8A8A8;
    /*溢出部分用省略号显示*/
}

.chatList-time {
    color: #000;
}


/* 下拉列表 */
.myDropdown-content {
    padding: 5px 15px 5px 15px;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #cccccc;
    cursor: pointer;
}

.myDropdown-item {
    color: #000;
    border-bottom: 1px solid #cccccc;
    text-decoration: none;
}

.myDropdown-item:last-child {
    border-bottom: none;
}

#msgView {
    overflow-y: auto;
    overflow-x: auto;
    width: 100%;
    height: 80vh;
    border-bottom-color: #cccccc;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

#msgSend {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 10px;
    max-height: 20vh;
    align-items: flex-end;
}

#sendMsgContent {
    width: 100%;
    height: 80%;
    font-family: HarmonyOS_Medium, system-ui, —apple-system, Segoe UI, Rototo, Emoji, Helvetica, Arial, sans-serif;;
}

#btn-sendMsg {
    margin-top: 10px;
    width: 5em;
    --bs-info: #0dcaf0;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    -webkit-appearance: button;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #000;
    background-color: #0dcaf0;
    cursor: pointer;
}

.msgInput {
    overflow:scroll;
    font-size: 16px;
    padding: 5px;
    max-width: 98%;
    width: 98%;
    height: 13.3vh;
    border: .5px solid #000;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

/* 提示条 */
.myAlert {
    display: flex;
    height: 2.5em;
    align-items: center;
    padding: 10px 10px 10px 20px;
    margin-bottom: 10px;
}

.info {
    color: #909399;
    background-color: #edf2fc;
    border-left: #909399 solid 3px;
}
.success {
    color: #67c23a;
    background-color: #f0f9eb;
    border-left: #67c23a solid 3px;
}

.error {
    color: #f56c6c;
    background-color: #f0f9eb;
    border-left: #f56c6c solid 3px;
}

.warning {
    color: #e6a23c;
    background-color: #f0f9eb;
    border-left: #e6a23c solid 3px;
}

.myBtn-close {
    margin-left: 10px;
    box-sizing: content-box;
    padding: .25em;
    color: #000;
    border: 0;
    border-radius: .25rem;
    opacity: .5;
    width: 1em;
    height: 1em;
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
    -webkit-border-radius: .25rem;
    -moz-border-radius: .25rem;
    -ms-border-radius: .25rem;
    -o-border-radius: .25rem;
}