<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <meta charset="UTF-8">
    <title>在线聊天室</title>
    <script src="./js/api.js"></script>
    <script src="./js/vue@3.js"></script>
    <script src="./js/bootstrap.min.js" type="text/javascript"></script>
    <script src="./js/popper.min.js" type="text/javascript"></script>
    <link href="./css/litewebchat.min.css" rel="stylesheet" type="text/css" />
    <link href="./css/chat.css" rel="stylesheet" type="text/css" />
    <link href="./css/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="box">
        <div class="chatList">
            <div class="chatList-console">
                <a>在线聊天室</a>
                <div class="myDropdown">
                    <!--下拉菜单-->
                    <a style="color: #ccc; cursor: default;"
                        @mouseleave="document.dropdownView = false"
                        @mouseOver="document.dropdownView = true">
                        +
                    </a>
                    <div v-show="document.dropdownView"
                        class="myDropdown-content"
                        @mouseOver="document.dropdownView = true"
                        @mouseleave="document.dropdownView = false" style="margin-top: -5px;">
                        <a class="myDropdown-item" @click="modal=document.modalBody.joinGroup" data-bs-toggle="modal" data-bs-target="#myModal">添加群</a>
                        <a class="myDropdown-item" @click="modal=document.modalBody.createGroup" data-bs-toggle="modal" data-bs-target="#myModal">创建群</a>
                    </div>
                </div>
            </div>
            <div class="chatList-item" v-for="item in chatList">
                <img :src="item.avatar" style="margin: 0 auto; border-radius: 5px; width: 3em; height: 3em;" alt="头像">
                <div style="display: flex; flex-direction: column; margin-left: 5px;">
                    <p class="chatList-title">{{item.name}}</p>
                    <p class="chatList-content" v-text="getLastMessage(item.id)"></p>
                </div>
            </div>
        </div>
        <div id="msgConsole" style="width: 100%">
            <div id="msgView">
                <!-- 主容器 -->
                <div class="lite-chatbox">
                    <div v-for="item in msgList[nowGroup]">
                        <div v-if="item.sender === 10000" class="tips">
                            <p class="tips-content">{{item.content}}</p>
                        </div>
                        <div v-if="item.sender !== 10000"
                            :class="(item.sender == myselfInfo.uid ? 'cright' : 'cleft') + ' cmsg'">
                            <img class="headIcon radius" oncontextmenu="return false;" ondragstart="return false;"
                                :src="getUserInfoFromLocal(item.sender).avatar" alt="头像" />
                            <span class="name" v-text="getUserInfoFromLocal(item.sender).name"></span>
                            <span class="content" v-text="arrayContentToString(item.content)"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="msgSend">
                <div class="msgInput" contenteditable="true" @paste="inputPaste">
                    
                </div>
                <a id="btn-sendMsg" @click="sendMsg(sendMsgContent)">发送</a>
            </div>
        </div>
        <div id="myModal" class="modal">
            <div class="modal-dialog">
                <div class="modal-content">
                  <!-- 模态框头部 -->
                  <div class="modal-header">
                    <h4 class="modal-title" v-html="modal.title"></h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                  </div>
             
                  <!-- 模态框内容 -->
                  <div class="modal-body" v-html="modal.content">

                  </div>
             
                  <!-- 模态框底部 -->
                  <div class="modal-footer" v-show="modal.btn" v-html="modal.btn">
                    
                  </div>
             
                </div>
              </div>
        </div>
        <div style="left: 30px; bottom: 60px; position: fixed;">
            <div v-for="it in alert">
                <div :class="it.class + ' myAlert'" role="alert">
                    {{it.message}} 
                    <button type="button" class="myBtn-close" style="font-size: .6em;" @click="alert.splice(alert.indexOf(it), 1)"></button>
                </div>
            </div>
        </div>
    </div>
    <script src="./js/chat.js"></script>
</body>

</html>